@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face{
    font-family: "pricedown";
    src: url(../fonts/pricedown/pricedown\ bl.otf)
    format("opentype");
}

body{
    background-image: url(../images/background-admin.png);
    background-attachment: fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th{
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

td{
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    background-color: #ddd;
    font-family: 'Bebas Neue', sans-serif;
}

.titulo{
    font-family: "pricedown";
    text-align: center;
    font-size: 3rem;
    color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}