@font-face{
  font-family: "pricedown";
  src: url(../fonts/pricedown/pricedown\ bl.otf)
  format("opentype");
}

body{
    background-image: url(../images/background-principal.png);
    background-attachment: fixed;
    background-size: cover;
}

/* Fontes */



/* Fontes */

.card-title{
    font-family: "pricedown";
    color: white;
    font-size: 2rem;
    text-align: center;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    margin-bottom: 0.5%;
}

.custom-card{
  margin-top: 3rem;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 20px;
  border-radius: 1rem !important;
  overflow: hidden;
}

@media (max-width: 767px){
  .custom-card {
      width: 100%;
  }
}


.cards-container{
    display: flex;
    gap: 10rem;
    margin-left: 5rem;
    margin-top: 5rem;
    margin-right: 5rem;
  }

  .card{
    width: 18rem;
  }

  .transparent-bg{
    background-color: rgba(255, 255, 255, 0.2) !important; 
  }

  .reservar-btn{
    font-family: "pricedown";
    background-color: black;
    color: white;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 2rem;
    border-radius: 30px;
    margin-top: 4rem;
    margin-left: -0.5rem;
  }